.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 450px;
  margin: 0 auto;

  & > h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;

    span {
      font-weight: bold;
      color: var(--accent);
      display: inline;
    }
  }

  & > p {
    margin: 10px auto;
    width: fit-content;

    a {
      color: var(--accent);
      text-decoration: underline;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid rgb(241, 241, 241);
  padding: 40px 30px;
  margin-bottom: 25px;

  fieldset {
    width: 100%;
    margin-bottom: 10px;

    input {
      width: 100%;
      height: 40px;
      border: 1px solid rgb(200, 200, 200);
      outline: none;
      padding: 8.5px 14px;
      border-radius: 5px;
      transition: 0.1s;
      margin-bottom: 4px;

      &:hover {
        border-color: grey;
      }

      &:focus {
        border: 2px solid var(--accent);
        padding: 8.5px 13px;
      }
    }

    .error {
      color: var(--accent);
      margin-bottom: 10px;
      font-size: 0.8rem;
      margin-left: 10px;
    }
  }

  .text {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;

    a {
      color: var(--accent);
      text-decoration: underline;
    }
  }

  .hidden {
    visibility: hidden;
  }

  button[type='submit'] {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--background);
    }
  }
}

@media only screen and (max-width: 650px) {
  .form {
    border: none;
    padding: 0 15px;
  }
}
