.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  section {
    width: 100vw;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 80px 20px;
    overflow: hidden;

    &.secondary {
      background-color: var(--layout);
    }

    &.tertiary {
      background-color: var(--backgroundAccent);
    }

    div {
      width: 100%;
      max-width: 1100px;
    }

    @media (max-width: 650px) {
      padding: 30px 10px;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 320px);
    position: relative;

    & > span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      h1 {
        font-weight: bold;
        font-size: 10rem;
        margin-bottom: 15px;

        span {
          color: var(--accent);
          text-transform: uppercase;
          font-size: 7rem;
        }
      }

      p {
        font-size: 3rem;
      }

      @media (max-width: 900px) {
        h1 {
          font-size: 7rem;

          span {
            font-size: 5rem;
          }
        }

        p {
          font-size: 2.3rem;
        }
      }

      @media (max-width: 650px) {
        h1 {
          font-size: 3.5rem;

          span {
            font-size: 2.5rem;
          }
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .details {
    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 120px;
    }

    article {
      width: 100%;
      margin-bottom: 100px;
      display: flex;

      div {
        width: 50%;
        padding: 0 10px;

        h2 {
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 10px;
        }

        a {
          color: var(--accent);
          text-transform: capitalize;
          font-size: 0.8rem;
        }
      }
    }
  }

  .offer {
  }

  .quote {
    padding: 50px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;

    @media (max-width: 650px) {
      padding: 0;
    }

    p {
      font-size: 2rem;
      line-height: 48px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 25px;
      font-family:
        Roboto Slab,
        serif;

      @media (max-width: 650px) {
        font-weight: 100;
        line-height: 2.2rem;
        font-size: 1.8rem;
      }
    }

    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    a {
      width: 200px;
      height: 45px;
      background-color: var(--accent);
      border-radius: 5px;
      border: 2px solid var(--accent);
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        background-color: var(--background);
      }
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    max-width: 950px;

    .header {
      text-align: center;
      margin-bottom: 90px;
      @media (max-width: 650px) {
        margin-bottom: 40px;
      }

      .facts {
        display: inline;
        color: var(--accent);
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
        @media (max-width: 450px) {
          font-size: 1.8rem;
        }
      }

      .helios {
        display: inline;
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
        margin-bottom: 90px;

        @media (max-width: 450px) {
          font-size: 2.5rem;
        }
      }
    }

    .bullet {
      display: flex;
      margin-bottom: 80px;
      width: 100%;

      @media (max-width: 650px) {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0 15px;
      }

      h3 {
        width: 50%;
        font-size: 2.2rem;
        line-height: 2.2rem;
        font-family:
          Roboto Slab,
          serif;
        padding-right: 50px;

        @media (max-width: 650px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      p {
        width: 50%;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;

        @media (max-width: 650px) {
          width: 100%;
        }

        a {
          color: var(--accent);
          text-decoration: underline;
        }
      }
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 110px;

    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
      text-align: center;
      margin-bottom: 40px;
      font-family:
        Roboto Slab,
        serif;
      text-transform: capitalize;
    }

    a {
      text-transform: capitalize;
      font-size: 1.1rem;
      width: 150px;
      height: 40px;
      background-color: var(--accent);
      border-radius: 5px;
      border: 2px solid var(--accent);
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: var(--background);
      }
    }
  }
}
