.marketingLayout {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  min-height: 100vh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--headerHeight);
    padding: 0 12px;

    .logo {
      font-weight: bold;
      font-size: 1.7rem;
      color: var(--text);
      transition: color 0.2s;

      &:hover {
        color: var(--accent);
      }

      span {
        display: inline;

        @media only screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    nav {
      display: flex;
      justify-content: space-around;

      a {
        padding: 8px 24px;
        border: 2px solid var(--accent);
        border-radius: 4px;
        font-weight: 600;
        margin: 0 10px;

        &.continue {
          background-color: var(--accent);
          color: white;
          transition:
            color 0.2s,
            background-color 0.2s;

          &:hover {
            background-color: var(--background);
            color: var(--text);
          }
        }

        &.start {
          background-color: var(--background);
          color: var(--text);
          transition: background-color 0.2s;

          &:hover {
            background-color: var(--accent);
          }
        }

        @media only screen and (max-width: 400px) {
          margin: 0 5px;

          &.start > span {
            display: none;
          }
        }
      }
    }
  }

  main {
    flex: 1;
  }

  .footerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundAccent);
    height: fit-content;
    padding: 50px 0 5px;

    & > * {
      width: 100%;
      max-width: 1000px;
    }

    .marketingLinks {
      display: flex;
      padding: 0 20px;
      margin-bottom: 5px;
      justify-content: center;

      a {
        font-size: 0.9rem;
        color: rgb(120, 120, 120);
        margin: 0 10px;
        text-transform: capitalize;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 20px;

      .footerName {
        display: inline;
        font-size: 1.1rem;
        text-transform: capitalize;
        font-weight: bold;
        color: var(--text);

        .prjkt {
          display: inline;
          color: var(--accent);
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .legalLinks {
        display: flex;

        a {
          margin: 0 10px;
          color: rgb(120, 120, 120);
          text-decoration: underline;
          text-transform: capitalize;
          font-size: 0.8rem;
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .footerWrapper {
      padding-top: 30px;

      footer {
        flex-direction: column;

        & > a {
          margin-bottom: 10px;
        }

        .footerName {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .footerWrapper {
      .marketingLinks {
        flex-direction: column;

        a {
          margin: 10px 0;
        }
      }
    }
  }

  @media only screen and (max-width: 350px) {
    .footerWrapper {
      footer {
        align-items: flex-start;

        .legalLinks {
          flex-direction: column;

          a {
            font-size: 0.9rem;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
