.writeInput {
  width: 100%;
  outline: none;
  resize: none;
  flex-grow: 1;
  font-size: 1.3rem;
  padding: 10px 0;
  line-height: 32px;
  margin-bottom: 90px;
  height: fit-content;
  background-color: var(--background);

  @media (max-width: 450px) {
    margin-bottom: 50px;
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
}

.writeFooter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 0.9rem;

    @media (max-width: 450px) {
      font-size: 0.75rem;
    }

    &.count {
      font-weight: 500;
    }
  }

  span {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      color: var(--accent);
    }
  }
}
