.viewerHeader {
  margin-bottom: 1rem;
}

.viewerDetails {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .createdTimeDate {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    color: var(--accent);
  }

  .edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .editButton {
    font-weight: 500;
    text-transform: capitalize;
  }

}
